<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Player</title>

</head>
<body>
    <p>Currently playing: {{ current_track.title }}</p>

    <button onclick="previous()">Back</button>
    <button onclick="pause()">Pause</button>
    <button onclick="next()">Next</button>

    <p>Music Library:</p>
    {% for f in folder %}
        <p><button onclick="play('{{ f }}')">Play</button> {{ f }}</p>
    {% endfor %}

    <script src="{% static 'js/player.js' %}"></script>
</body>
