<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Player</title>

</head>
<body>
<p>Currently playing: <div id="current_track_title">{{ current_track.title }}</div></p>

    <button onclick="previous()">Previous</button>
    <button onclick="pause()">Pause</button>
    <button onclick="next()">Next</button>
    <br /><br />

    <button id="mute_button" onclick="mute()">Mute</button>
    <button id="sound_down" onclick="sound_down()">Sound Down</button>
    <button id="sound_up" onclick="sound_up()">Sound Up</button>

    <p>Music Library:</p>
    {% for f in folder %}
        <p><button onclick="play('{{ f }}')">Play</button> {{ f }}</p>
    {% endfor %}
    <br />

    <p>Streams Library:</p>
    {% for url in urls %}
        <p><button onclick="play_url('{{ url.key }}')">Play</button> {{ url.key }}: {{ url.url }}</p>
    {% endfor %}

    <script src="{% static 'js/player.js' %}"></script>
</body>
